<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
<title>友链管理</title>
</head>
<body class="animate__animated animate__fadeIn animate__slow">>

    <!--导航 -->
    <nav th:replace="admin/_fragments :: menu(8)"></nav>

    <!--中间内容-->
    <div id="waypoint" class="m-container m-paddding-tb-big m-minHight">
        <div class="ui container">
            <!-- 提示信息 -->
            <div class="ui success message" th:if="${message} != null">
                <i class="close icon"></i>
                <div class="header">提示:</div>
                <p th:text="${message}"></p>
            </div>
            <!--上面部分-->
            <div class="ui secondary segment form">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="isFixed">
                                <i class="dropdown icon"></i>
                                <div class="default text">状态</div>
                                <div class="menu">
                                    <div class="item" th:attr="data-value=true">已修复</div>
                                    <div class="item" th:attr="data-value=false">未修复</div>
                                </div> 
                            </div>
                            <div class="ui compact button clear-btn">清除</div>
                        </div>
                    </div>
                    <div class="field">
                        <button id="search-btn" class="ui tiny teal basic button"><i class="search icon"></i>搜索</button>
                    </div>
                </div>
            </div>
            <!--下面部分-->
            <div id="table-container">
                <table th:fragment="feedbackList" class="ui compact striped center aligned table">
                    <thead>
                        <tr>
                            <th class="one wide"></th>
                            <th class="eight wide">反馈内容</th>
                            <th class="two wide">创建时间</th>
                            <th class="one wide">状态</th>
                            <th class="four wide">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="feedback,iterStat : ${pageInfo.getList()}">
                            <td th:text="${iterStat.count}">1</td>
                            <td th:text="${feedback.content}">反馈内容</td>
                            <td th:text="${#dates.format(feedback.createTime,'yyyy-MM-dd')}">创建时间</td>
                            <td th:text="${feedback.isFixed} ? '已修复':'未修复' " th:class="${feedback.isFixed}==false ? 'm-orange'">状态</td>
                            <td>
                                <a th:href="@{/1120/feedback/fix/{id}(id=${feedback.id})}" onclick="return confirm('确定设置为【已修复】状态吗？');" class="ui mini teal basic button m-padding">修复</a>
                                <a th:href="@{/1120/feedback/nofix/{id}(id=${feedback.id})}" onclick="return confirm('确定设置为【未修复】状态吗？');" class="ui mini blue basic button m-padding">未修复</a>
                                <a th:href="@{/1120/feedback/delete/{id}(id=${feedback.id})}" onclick="return confirm('确定删除该反馈吗？');" class="ui mini red basic button m-padding">删除</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                         <tr>
                            <th colspan="7">
                                <div class="ui mini pagination menu" th:if="${pageInfo.pages} > 1">
                                    <a onclick="page(this)" th:attr="data-page=${pageInfo.pageNum}-1" th:if="${pageInfo.hasPreviousPage}"  class="item" >上一页</a>
                                    <a onclick="page(this)" th:attr="data-page=${pageInfo.pageNum}+1" th:if="${pageInfo.hasNextPage}"  class="item" >下一页</a>
                                </div>
                            </th>
                         </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    
    <!--底部-->
    <footer th:replace="admin/_fragments :: footer"></footer>
       
    <!-- script -->
    <!--/*/ <th:block th:replace="admin/_fragments :: script"> /*/-->
    <!--/*/ </th:block> /*/-->
    
    <script>
        //动态给form中的page赋值
        function page(obj){
            $("[name='page']").val($(obj).data("page"));
            loadData();
        }
        
        $('#search-btn').click(function(){
        	$("[name='page']").val(0);
        	loadData();
        });
        
        //通过ajax刷新table中的数据
        function loadData(){
        	$("#table-container").load("/1120/feedback/search",{
        		isFixed : $("[name='isFixed']").val(),
        		page : $("[name='page']").val()
        	});
        }
        
        //清除按钮
		$('.clear-btn').on('click', function() {
			$('.selection.dropdown').dropdown('clear');
		});
        
	</script>    
</body>
</html>