<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
<title>友链管理</title>
</head>
<body class="animate__animated animate__fadeIn animate__slow">

    <!--导航 -->
    <nav th:replace="admin/_fragments :: menu(5)"></nav>

    <!--中间内容-->
    <div id="waypoint" class="m-container m-paddding-tb-big m-minHight">
        <div class="ui container">
            <!-- 提示信息 -->
            <div class="ui success message" th:if="${message} != null">
                <i class="close icon"></i>
                <div class="header">提示:</div>
                <p th:text="${message}"></p>
            </div>
            <!--上面部分-->
            <div class="ui secondary segment form">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="isShow">
                                <i class="dropdown icon"></i>
                                <div class="default text">展示状态</div>
                                <div class="menu">
                                    <div class="item" th:attr="data-value=true">已展示</div>
                                    <div class="item" th:attr="data-value=false">未展示</div>
                                </div> 
                            </div>
                            <div class="ui compact button clear-btn">清除</div>
                        </div>
                    </div>
                    <div class="field">
                        <button id="search-btn" class="ui tiny teal basic button"><i class="search icon"></i>搜索</button>
                    </div>
                </div>
            </div>
            <!--下面部分-->
            <div id="table-container">
                <table th:fragment="friendslinkList" class="ui compact striped center aligned table">
                    <thead>
                        <tr>
                            <th class="one wide"></th>
                            <th class="two wide">网站名称</th>
                            <th class="four wide">网站简介</th>
                            <th class="two wide">网站地址</th>
                            <th class="two wide">创建时间</th>
                            <th class="one wide">状态</th>
                            <th class="four wide">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="friendslink,iterStat : ${pageInfo.getList()}">
                            <td th:text="${iterStat.count}">1</td>
                            <td th:text="${friendslink.websiteName}">网站名字</td>
                            <td th:text="${friendslink.websiteDescription}">网站简介</td>
                            <td th:text="${friendslink.websiteUrl}">网站地址</td>
                            <td th:text="${#dates.format(friendslink.createTime,'yyyy-MM-dd')}">创建时间</td>
                            <td th:text="${friendslink.isShow} ? '已展示':'未展示' " th:class="${friendslink.isShow}==false ? 'm-orange'">状态</td>
                            <td>
                                <a th:href="@{/1120/friendslink/show/{id}(id=${friendslink.id})}" onclick="return confirm('确定【展示】该友链吗？');" class="ui mini teal basic button m-padding">展示</a>
                                <a th:href="@{/1120/friendslink/hide/{id}(id=${friendslink.id})}" onclick="return confirm('确定【不展示】该友链吗？');" class="ui mini blue basic button m-padding">不展示</a>
                                <a th:href="@{/1120/friendslink/delete/{id}(id=${friendslink.id})}" onclick="return confirm('确定删除该友链吗？');" class="ui mini red basic button m-padding">删除</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                         <tr>
                            <th colspan="7">
                                <div class="ui mini pagination menu" th:if="${pageInfo.pages} > 1">
                                    <a onclick="page(this)" th:attr="data-page=${pageInfo.pageNum}-1" th:if="${pageInfo.hasPreviousPage}"  class="item" >上一页</a>
                                    <a onclick="page(this)" th:attr="data-page=${pageInfo.pageNum}+1" th:if="${pageInfo.hasNextPage}"  class="item" >下一页</a>
                                </div>
                            </th>
                         </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    
    <!--底部-->
    <footer th:replace="admin/_fragments :: footer"></footer>
       
    <!-- script -->
    <!--/*/ <th:block th:replace="admin/_fragments :: script"> /*/-->
    <!--/*/ </th:block> /*/-->
    
    <script>
        //动态给form中的page赋值
        function page(obj){
            $("[name='page']").val($(obj).data("page"));
            loadData();
        }
        
        $('#search-btn').click(function(){
        	$("[name='page']").val(0);
        	loadData();
        });
        
        //通过ajax刷新table中的数据
        function loadData(){
        	$("#table-container").load("/1120/friendslink/search",{
        		isShow : $("[name='isShow']").val(),
        		page : $("[name='page']").val()
        	});
        }
        
        //清除按钮
		$('.clear-btn').on('click', function() {
			$('.selection.dropdown').dropdown('clear');
		});
        
	</script>    
</body>
</html>