@charset "UTF-8";

body {
	background: url("/images/bg.jpg") fixed;
	opacity: 0.9;
}

/* 首页标题 */
.m-title-font {
	font-family: STSong;
	font-weight: 900;
	font-size: x-large;
}

/*---padding--- */
.m-padding-mini {
	padding: 0.2em !important;
}

.m-padding-tiny {
	padding: 0.3em !important;
}

.m-padding {
	padding: 0.8em !important;
}

.m-paddding-tb-mini {
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}

.m-paddding-tb-tiny {
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
}

.m-paddding-tb-small {
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}

.m-paddding-tb {
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}

.m-paddding-tb-large {
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}

.m-paddding-tb-big {
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}

.m-paddding-tb-huge {
	padding-top: 4em !important;
	padding-bottom: 4em !important;
}

.m-paddding-tb-massive {
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}

.m-paddding-lr-responsive {
	padding-left: 4em !important;
	padding-right: 4em !important;
}

/*---margin--- */
.m-margin-tb-tiny {
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
}

.m-margin-top {
	margin-top: 30px !important;
}

.m-margin-top-large {
	margin-top: 40px !important;
}

/*---margin--- */
.m-container {
	max-width: 92em !important;
	margin: auto !important;
}

.m-container-small {
	max-width: 60em !important;
	margin: auto !important;
}

.m-container-mini {
	max-width: 30em !important;
	margin: auto !important;
}

.m-margin-bottom-small {
	margin-bottom: 0.5em !important;
}

/* 最小高度  */
.m-minHight{
	min-height: 1000px !important;
}

/*---text--- */
.m-text {
	font-weight: 300 !important;
	letter-spacing: 1px !important;
	line-height: 1.8 !important;
}

.m-author-fontSize {
	font-size: 10px !important;
}

.m-menu-fontSize{
	font-size: 13px !important;
}

.m-text-thin {
	font-weight: 300 !important;
}

.m-text-spaced {
	letter-spacing: 1px !important;
}

.m-text-lined {
	line-height: 1.8 !important;
}

.m-opacity-mini {
	opacity: 0.8 !important;
}

.m-opacity-tiny {
	opacity: 0.6 !important;
}

/*---display--- */
.m-inline-block {
	display: inline-block !important;
}

/*---color--- */
.m-black {
	color: #333 !important;
}
.m-floralwhite{
	color: floralwhite !important;
}

.m-teal {
	color: #00B5AD !important;
}

.m-orange {
	color: orange !important;
}

/*---opacity--- */
.m-opacity{
	opacity: 0.7 !important;
}

/*---shadow--- */
.m-shadow-small {
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

/*---position--- */
.m-right-top {
	position: absolute;
	top: 0;
	right: 0;
}

.m-fixed {
	position: fixed !important;
	z-index: 1 !important;
}

.m-right-bottom {
	right: 0 !important;
	bottom: 0 !important;
}

.m-mobile-show {
	display: none !important;
}


/* 轮播图样式  */
.swiper-container {
	width: 100%;
	height: 88%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/* 轮播图图片  */
.m-lbPicture{
	display: block !important;
	width: 100% !important;
	height: 90% !important;
	border: none !important;
}
/* 轮播图文字  */
.m-lbfont{
	background-color: d6d6d6 !important;
	color: black !important;
	font-size: 15px !important;
	padding: 5px !important;
}

/*---media--- */
@media screen and (max-width: 768px) {
	.m-mobile-hide {
		display: none !important;
	}
	.m-mobile-show {
		display: block !important;
	}
	.m-paddding-lr-responsive {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.m-mobile-lr-clear {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.m-mobile-wide {
		width: 100% !important;
	}
	
	/* 轮播 */
	.swiper-container {
		height: 50%;
	}
	/* 轮播图图片 */
	.m-lbPicture{
		height: 80% !important;
	}
	/* 轮播图文字 */
	.m-lbfont{
		font-size: 10px !important;
		padding: 0px !important;
		line-height: 15px !important;
	}
}

@media screen and (max-width: 991px) {
	/* 轮播图文字 */
	.m-lbfont{
		font-size: 13px !important;
		padding: 3px !important;
		line-height: 15px !important;
	}
}
