<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
<title>权限不足</title>
</head>
<body class="animate__animated animate__fadeIn animate__slow">

    <!--导航 -->
    <nav th:replace="admin/_fragments :: menu(0)"></nav>

    <!--中间内容-->
    <div id="waypoint" class="m-container-small m-paddding-tb-big m-minHight">
        <div class="ui container">
            <div class="ui success larger message">
                <h3>没有权限</h3>
                <p>请联系管理员！</p>
            </div>
        </div>
    </div>
    
    <!--底部-->
    <footer th:replace="admin/_fragments :: footer"></footer>

    <!-- script -->
    <!--/*/ <th:block th:replace="admin/_fragments :: script"> /*/-->
    <!--/*/ </th:block> /*/-->

</body>
</html>