<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
<title>友人链</title>
</head>
<body>
    <!--导航 -->
    <nav th:replace="_fragments :: menu(7)"></nav>
    
   
    <!--中间内容-->
    <div id="waypoint" class="m-container m-paddding-tb-large m-minHight">
        <div class="ui container">
            <!-- 友人链 申请表单-->
            <div class="ui segment">
                <form class="ui form" th:action="@{/addFriendslink}" method="post">
                    <div class="ui fluid labeled input">
                        <div class="ui label">网站名称</div>
                        <input type="text" placeholder="请输入网站名称..." name="websiteName">
                    </div>
                    <div class="ui fluid labeled input">
                        <div class="ui label">网站简介</div>
                        <input type="text" placeholder="请输入网站简介..." name="websiteDescription">
                    </div>
                    <div class="ui fluid labeled input">
                        <div class="ui label">网站地址</div>
                        <input type="url" placeholder="请输入网站地址..." name="websiteUrl">
                    </div>
                    <div class="ui fluid labeled input">
                        <div class="ui label">图片地址</div>
                        <input type="text" placeholder="请输入图片地址..." name="picture">
                    </div>
                    <button class="ui fluid teal button m-margin-top-mini" type="submit">提交</button>
                </form>
            </div>
            <!-- 友人链区域 -->
            <div class="ui segment">
                <div class="ui five stackable link cards m-margin-friendsLink">
                    <!-- 一个友人链区域 -->
                    <div class="card">
                        <!-- 网站图片图片 -->
                        <a class="image" href="#">
                            <img src="/images/avatar.png">
                        </a>
                        <!-- 网站名称和简介 -->
                        <div class="content">
                            <div class="header">网站名称</div>
                            <div class="description">网站简介</div>
                        </div>
                    </div>
                    <div class="card">
                        <!-- 网站图片图片 -->
                        <a class="image" href="#">
                            <img src="/images/avatar.png">
                        </a>
                        <!-- 网站名称和简介 -->
                        <div class="content">
                            <div class="header">网站名称</div>
                            <div class="description">网站简介</div>
                        </div>
                    </div>
                    <div class="card">
                        <!-- 网站图片图片 -->
                        <a class="image" href="#">
                            <img src="/images/avatar.png">
                        </a>
                        <!-- 网站名称和简介 -->
                        <div class="content">
                            <div class="header">网站名称</div>
                            <div class="description">网站简介</div>
                        </div>
                    </div>
                    <div class="card">
                        <!-- 网站图片图片 -->
                        <a class="image" href="#">
                            <img src="/images/avatar.png">
                        </a>
                        <!-- 网站名称和简介 -->
                        <div class="content">
                            <div class="header">网站名称</div>
                            <div class="description">网站简介</div>
                        </div>
                    </div>
                    <div class="card">
                        <!-- 网站图片图片 -->
                        <a class="image" href="#">
                            <img src="/images/avatar.png">
                        </a>
                        <!-- 网站名称和简介 -->
                        <div class="content">
                            <div class="header">网站名称</div>
                            <div class="description">网站简介</div>
                        </div>
                    </div>
                    <div class="card">
                        <!-- 网站图片图片 -->
                        <a class="image" href="#">
                            <img src="/images/avatar.png">
                        </a>
                        <!-- 网站名称和简介 -->
                        <div class="content">
                            <div class="header">网站名称</div>
                            <div class="description">网站简介</div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    
    <!-- 回到顶部按钮 -->
    <div id="toolbar" class="m-padding m-fixed m-right-bottom" style="display: none;">
        <div class="ui vertical icon buttons">
            <div id="toTop-btn" class="ui button" style="background: none;">
                <i class="m-indexUpBtn space shuttle icon"></i>
            </div>
        </div>
    </div>
    
    <!--底部-->
    <footer th:replace="_fragments :: footer"></footer>
    
    <!-- script -->
    <!--/*/ <th:block th:replace="_fragments :: script"> /*/-->
    <!--/*/ </th:block> /*/-->

<script>
	/* 表单验证 */
	$('.ui.form').form({
		on : 'blur',
		fields : {
			websiteName : {
				identifier : 'websiteName',
				rules : [ {
					type : 'empty',
					prompt : '网站名称不能为空'
				} ]
			},
			websiteDescription : {
				identifier : 'websiteDescription',
				rules : [ {
					type : 'empty',
					prompt : '网站简介不能为空'
				} ]
			},
			websiteUrl : {
				identifier : 'websiteUrl',
				rules : [ {
					type : 'url',
					prompt : '网站地址不正确'
				} ]
			},
			picture : {
				identifier : 'picture',
				rules : [ {
					type : 'empty',
					prompt : '图片地址不能为空'
				} ]
			}
		}
	});
	
	/* pc-手机端菜单切换 */
	$('.m-menuToggle').click(function(){
		$('.m-item').toggleClass('m-mobile-hide');
	});

</script>    
</body>
</html>