<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
<title>首页</title>
</head>
<body>
    <!--导航 -->
    <nav th:replace="_fragments :: menu(1)"></nav>

    <!-- 轮播图 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img alt="" src="https://picsum.photos/id/182/900/450" class="ui rounded bordered fluid image">
            </div>
            <div class="swiper-slide">
                <img alt="" src="https://picsum.photos/id/180/900/450" class="ui rounded bordered fluid image">
            </div>
            <div class="swiper-slide">
                <img alt="" src="https://picsum.photos/id/129/900/450" class="ui rounded bordered fluid image">
            </div>
        </div>
        <!-- 添加分页 -->
        <div class="swiper-pagination"></div>
        <!-- 添加前后箭头 -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <!--中间内容-->
    <div class="m-container m-paddding-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                 <!--left blog list-->
                <div class="eleven wide column">
                    <!--top-->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">文章</h3>
                            </div>
                            <div class="column right aligned">
                                                                             共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.total}">66</h2> 篇
                            </div>
                        </div>
                    </div>
                    <!--content-->
                    <div class="ui attached segment">
                        <div class="ui padded vertical segment m-padding-content" th:each="blog : ${pageInfo.getList()}">
                            <div class="ui mobile reversed stackable grid  middle aligned">
                                <div class="eleven wide column">
                                    <h3 class="ui header"><a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" th:text="${blog.title}" class="m-black">被压倒的年轻人</a></h3>
                                    <p th:text="${#strings.abbreviate(blog.description,150)}"></p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img alt="" src="https://picsum.photos/id/1001/100/100" class="ui avatar image" th:src="@{${blog.userAvatar}}">
                                                    <div class="content">
                                                        <a href="#" class="header" th:text="${blog.userNickname}">June</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>
                                                    <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020-02-02</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>
                                                    <span th:text="${blog.viewCount}">1234</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-padding-tiny m-text-thin" th:text="${blog.typeName}">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                        <img alt="" th:src="@{${blog.firstPicture}}" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--bottom-->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned two column grid" th:if="${pageInfo.pages} > 1">
                            <div class="column">
                                <a th:href="@{/(page=${pageInfo.pageNum}-1)}" th:if="${pageInfo.hasPreviousPage}" class="ui teal basic mini button">上一页</a>
                            </div>
                            <div class="column right aligned">
                                <a th:href="@{/(page=${pageInfo.pageNum}+1)}" th:if="${pageInfo.hasNextPage}" class="ui teal basic mini button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--right-->
                <div class="five wide column">
                    <!--分类 -->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column"><i class="idea icon"></i>分类</div>
                                <div class="column right aligned"><a th:href="@{/types/{id}(id=-1)}" target="_blank">more<i class="angle double right icon"></i></a></div>
                            </div>                        
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu">
                                <a th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${typeBlogNumDTOs}">
                                    <span th:text="${type.name}">分类名称</span>
                                    <span class="ui teal basic label" th:text="${type.blogNum}">12</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--标签 -->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column"><i class="tag  icon"></i>标签</div>
                                <div class="column right aligned"><a th:href="@{/tags/{id}(id=-1)}" target="_blank">more<i class="angle double right icon"></i></a></div>
                            </div>                        
                        </div>
                        <div class="ui teal segment">
                                <a th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic label m-paddding-tb-small m-margin-tb-tiny" th:each="tag : ${tagBlogNumDTOs}">
                                    <span th:text="${tag.name}">标签名称</span>
                                    <span class="detail" th:text="${tag.blogNum}">12</span>
                                </a>
                        </div>
                    </div>
                    <!--最新推荐 -->
                    <div class="ui segments m-margin-top">
                        <div class="ui secondary segment">
                                <div class="column"><i class="bookmark icon"></i>最新推荐</div>
                        </div>
                        <div th:each="blog : ${recommendBlogs}">
                            <div class="ui segment"><a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-black m-text-thin" th:text="${blog.title}">最后的日子 - 夏阳</a></div>
                        </div>
                    </div>
                    <!--图片-->
                     <h4 class="ui horizontal divider m-margin-top">一个图片</h4>
                     <div class="ui centered card" style="width: 10em;">
                        <img alt="" src="/images/avatar.png" class="ui center aligned rounded image">
                     </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--底部-->
    <footer th:replace="_fragments :: footer"></footer>
    
    <!-- script -->
    <!--/*/ <th:block th:replace="_fragments :: script"> /*/-->
    <!--/*/ </th:block> /*/-->

    <script>
    	/* 初始化轮播图 */
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            keyboard: {
              enabled: true,
            },
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          });
    	
    	/* pc-手机端菜单切换 */
    	$('.m-menuToggle').click(function(){
    		$('.m-item').toggleClass('m-mobile-hide');
    	});
    </script>    
</body>
</html>