<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
<title>首页</title>
</head>
<body>
    <!--导航 -->
    <nav th:replace="_fragments :: menu(1)"></nav>
    
    <!-- 轮播图 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="oneword : ${onewords}">
                <div style="width: 100%;height: 100%;">
                    <img alt="picture is lose" th:src="${oneword.picture}" class="ui bordered fluid image m-lbPicture">
                    <div th:text="${oneword.content}" class="m-lbfont"></div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    
    <!-- 最新推荐 -->
    <div class="m-paddding-tb-large">
        <!-- 最新推荐文字 -->
        <div class="ui m-container-small m-margin-bottom m-margin-top-small">
            <div class="ui secondary segment" align="center">
                <i class="bookmark icon"></i>
                <span>最新推荐</span>
            </div>
        </div>
        <!-- 推荐文章列表 -->
        <div class="ui stackable grid" style="margin-left: 3px;margin-right: 3px;">
            <div class="four wide column" th:each="article : ${articles}">
                <a class="m-recomment-outer" th:href="@{/article/{id}(id=${article.id})}" target="_blank">
                    <img th:src="${article.firstPicture}" class="ui rounded image">
                    <span class="m-recomment-inner">
                        <h4 class="m-margin-tb-tiny m-recommend-font" th:text="${article.title}">文章标题</h4>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <!--最新文章-->
    <div id="waypoint" class="m-container m-paddding-tb-large m-minHight">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="ui vertical segment">
                    <!-- 最新文章文字 -->
                    <div class="ui m-container-small m-margin-top-small m-margin-bottom">
                        <div class="ui secondary segment" align="center">
                            <i class="bookmark icon"></i>
                            <span>最新文章</span>
                        </div>
                    </div>
                    <!--文章列表-->
                    <div class="ui padded segment m-paddding-tb-large" th:each="article : ${pageInfo.getList()}">
                        <div class="ui mobile reversed stackable grid large aligned">
                            <!-- 左侧文章内容 -->
                            <div class="eleven wide column">
                                <h3 class="ui header">
                                    <a th:href="@{/article/{id}(id=${article.id})}" target="_blank" th:text="${article.title}" class="m-black m-title-font">被压倒的年轻人</a>
                                </h3>
                                <p th:text="${#strings.abbreviate(article.description,150)}" class="m-text m-margin-top-large"></p>
                                <div class="ui m-margin-top grid">
                                    <!-- 文章作者信息，更新时间，查看数和评论数 -->
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img alt="" src="https://picsum.photos/id/1001/100/100" class="ui avatar image" th:src="@{${article.userAvatar}}">
                                                <div class="content">
                                                    <a href="#" class="header" th:text="${article.userNickname}">June</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>
                                                <span th:text="${#dates.format(article.updateTime, 'yyyy-MM-dd')}">2020-02-02</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>
                                                <span th:text="${article.viewCount}">浏览数</span>
                                            </div>
                                            <div class="item">
                                                <i class="comment outline icon"></i>
                                                <span th:text="${article.commentCount}">评论数</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 文章分类 -->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padding-tiny m-text-thin" th:text="${article.typeName}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!-- 右侧文章图片 -->
                            <div class="five wide column">
                                <a th:href="@{/article/{id}(id=${article.id})}" target="_blank">
                                    <img alt="" th:src="@{${article.firstPicture}}" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--文章分页-->
                <div class="ui bottom attached segment" th:if="${pageInfo.pages} > 1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a th:href="@{/(page=${pageInfo.pageNum}-1)}" th:if="${pageInfo.hasPreviousPage}" class="ui teal basic mini button">上一页</a>
                        </div>
                        <div class="column right aligned">
                            <a th:href="@{/(page=${pageInfo.pageNum}+1)}" th:if="${pageInfo.hasNextPage}" class="ui teal basic mini button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 反馈表单 -->
        <div class="ui dimmer m-feedback" style="left: 50% !important;top: 55% !important;">
            <div class="content">
                <div class="center">
                    <form class="ui form" style="height: 87%;width: 90%;left: 5%;">
                        <div class="field" id="wordCount">
                            <h3 class="m-black m-text">建议反馈</h3>
                            <textarea name="content" rows="15" placeholder="填写意见或者建议。如：常见小bug、希望添加的新功能。Thank you~"></textarea>
                            <div class="wordwrap m-textareaSum" style="color: white;"><var class="m-word">500</var>/500</div>
                        </div>
                        <div class="field">
                            <div id="feedback-cancelBtn" class="ui black basic small button">取消</div>
                            <div id="feedback-submit" class="ui teal basic small button" style="margin-left: 50px;">提交</div>
                        </div>
                        <div class="ui error message"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 反馈成功提示 -->
    <div id="feedback-success" style="position: fixed; max-width: 120px; left: 0px;top: 100px; z-index: 1000;display: none;">
        <div class="ui raised card" style="background-color: seashell;">
             <div class="content" align="center"><i class="check green large icon"></i>反馈成功</div>       
        </div>
    </div>
    
    <!-- 回到顶部按钮 -->
    <div id="toolbar" class="m-padding m-fixed m-right-bottom" style="display: none;">
        <div class="ui vertical icon buttons">
            <div id="toTop-btn" class="ui button" style="background: none;">
                <i class="m-indexUpBtn space shuttle icon"></i>
            </div>
        </div>
    </div>
    
    <!-- 反馈按钮 -->
    <div id="feedback" style="position: fixed; bottom: 20px; right: 20px; cursor: pointer; z-index: 1;">
        <div class="ui icon button" data-tooltip="建议反馈" data-position="left center" data-inverted="">
            <i class="heart icon m-teal"></i>
        </div>
    </div>


    <!--底部-->
    <footer th:replace="_fragments :: footer"></footer>
    
    <!-- script -->
    <!--/*/ <th:block th:replace="_fragments :: script"> /*/-->
    <!--/*/ </th:block> /*/-->

<script>

	/* 反馈遮罩层初始化 */
    $('#feedback').click(function(){
    	$('#waypoint').dimmer('show');
    });
	/* 反馈遮罩层取消 */
	$('#feedback-cancelBtn').click(function(){
		$('#waypoint').dimmer('hide');
	});
	/* 提交反馈表单 */
	$('#feedback-submit').click(function(){
		var content = $("[name='content']").val();
		$.post("/feedback",{content:content},function(data){
			//回调函数
			//隐藏反馈框
			$('#waypoint').dimmer('hide');
			//0.5秒后弹出反馈成功提示
			setTimeout(function(){$('#feedback-success').show();},500);
			//2秒后反馈成功提示消失
			setTimeout(function(){$('#feedback-success').hide();},2000);
		},"json");
	});
	
	/* 初始化轮播图 */
	var swiper = new Swiper('.swiper-container', {
        spaceBetween: 20,
        speed:2500,
		autoplay:{
            delay: 10000,
            disableOnInteraction: false,
            waitForTransition: false,
          },
        keyboard: {
            enabled: true,
          },
        hashNavigation: {
        watchState: true,
        },
        pagination: {
        el: '.swiper-pagination',
        clickable: true,
        },
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        },
    });
	
	/* 反馈表单验证 */
	$('.ui.form').form({
		on : 'click',
		fields : {
			content : {
				identifier : 'content',
				rules : [ {
					type : 'empty',
					prompt : '请先输入内容 ~'
				} ]
			}
		}
	})
	
	/* 反馈框 textarea 文字数量监视 */
    $(function(){
        //先选出 textarea 和 统计字数 dom 节点
        var wordCount = $("#wordCount"),
            textArea = wordCount.find("textarea"),
            word = wordCount.find(".m-word");
        //调用
        statInputNum(textArea,word);
    });
	</script>    
</body>
</html>