<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
<title>分类</title>
</head>
<body>
    <!--导航 -->
    <nav th:replace="_fragments :: menu(2)"></nav>

    <!--中间内容-->
    <div id="waypoint" class="m-container m-paddding-tb-large m-minHight">
        <div class="ui container">
            <!--头部-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">分类</h3>
                    </div>
                    <div class="column right aligned">
                                                        共  <h2 class="ui orange header m-inline-block m-text-thin" th:text="${typeCnt}">22</h2> 个
                    </div>
                </div>
            </div>
            <!--分类名称-->
            <div class="ui attached segment m-paddding-tb-large">
                <div class="ui labeled button m-margin-tb-tiny" th:each="type : ${types}">
                    <a th:href="@{/types/{id}(id=${type.id})}" class="ui basic large label m-paddding-tb-small m-margin-tb-tiny" th:classappend="${type.id==activeTypeId} ? 'teal'">
                        <span th:text="${type.name}">分类名称</span><span class="detail" th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${type.articleNum}">24</span>
                    </a>
                </div>
            </div>
            <!--文章列表-->
            <div class="ui teal top attached segment">
                <div class="ui padded vertical segment m-padding-content" th:each="article : ${pageInfo.getList()}">
                    <div class="ui mobile reversed stackable grid  middle aligned">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a th:href="@{/article/{id}(id=${article.id})}" target="_blank" th:text="${article.title}" class="m-black m-title-font">被压倒的年轻人</a></h3>
                            <p th:text="${#strings.abbreviate(article.description,100)}" class="m-text m-margin-top-large"></p>
                            <div class="ui m-margin-top grid">
                                <!-- 文章作者信息，更新时间，查看数和评论数 -->
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img alt="" src="https://picsum.photos/id/1001/100/100" class="ui avatar image" th:src="@{${article.userAvatar}}">
                                            <div class="content">
                                                <a href="#" class="header" th:text="${article.userNickname}">June</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            <span th:text="${#dates.format(article.updateTime, 'yyyy-MM-dd')}">2020-02-02</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>
                                            <span th:text="${article.viewCount}">浏览数</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i>
                                            <span th:text="${article.commentCount}">评论数</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padding-tiny m-text-thin" th:text="${article.typeName}">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a th:href="@{/article/{id}(id=${article.id})}" target="_blank"> <img alt="" th:src="@{${article.firstPicture}}" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>　
            <!-- 分頁-->
            <div class="ui bottom attached segment" th:if="${pageInfo.pages} > 1">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a th:href="@{/types/{id}(id=${activeTypeId},page=${pageInfo.pageNum}-1)}" th:if="${pageInfo.hasPreviousPage}" class="ui teal basic mini button">上一页</a>
                    </div>
                    <div class="column right aligned">
                        <a th:href="@{/types/{id}(id=${activeTypeId},page=${pageInfo.pageNum}+1)}" th:if="${pageInfo.hasNextPage}" class="ui teal basic mini button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- 回到顶部按钮 -->
    <div id="toolbar" class="m-padding m-fixed m-right-bottom" style="display: none;">
        <div class="ui vertical icon buttons">
            <div id="toTop-btn" class="ui teal icon button"><i class="chevron up icon"></i></div>
        </div>
    </div>
   
    <!--底部-->
    <footer th:replace="_fragments :: footer"></footer>
    
    <!-- script -->
    <!--/*/ <th:block th:replace="_fragments :: script"> /*/-->
    <!--/*/ </th:block> /*/-->

</body>
</html>