<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.blog.mapper.CommentMapper">

	<!-- 列出一级评论 -->
	<select id="listParentCommentByBlogId" parameterType="long" resultType="com.blog.dto.CommentExtDTO">
		select * from comment where parent_id is null and blog_id = #{blogId}
	</select>

	<!-- 通过父id列出子评论 -->
	<select id="listChildCommentByParentId" parameterType="long" resultType="com.blog.dto.CommentExtDTO">
		select * from comment where parent_id = #{parentId}
	</select>
	
	<!-- 保存评论 -->
	<insert id="save" parameterType="comment">
		insert into comment (nickname,email,avatar,content,create_time,blog_id,parent_id,is_manager)
		values (#{nickname},#{email},#{avatar},#{content},#{createTime},#{blogId},#{parentId},#{isManager});
	</insert>
	
	<!-- 通过博客id删除评论 -->
	<delete id="deleteByBlogId" parameterType="long">
		delete from comment where blog_id = #{blogId}
	</delete>
	
</mapper>