<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.article.mapper.FriendslinkMapper">

	<!-- 统计展示友链的数量 -->
	<select id="countShow" resultType="int">
		select count(*) from friendslink where is_show is not false
	</select>

	<!-- 列出要展示的友人链信息 -->
	<select id="listShow" resultType="friendslink">
		select * from friendslink where is_show is not false order by update_time
	</select>

	<!-- 列出要展示的友人链信息 -->
	<select id="list" resultType="friendslink">
		select * from friendslink order by create_time desc
	</select>
	
	<!-- 通过网站地址查找友人链 -->
	<select id="findByWebsiteUrl" parameterType="string" resultType="friendslink">
		select * from friendslink where website_url = #{websiteUrl}
	</select>
	
	<!-- 通过搜索条件列出友人链 -->
	<select id="listBySearch" parameterType="boolean" resultType="friendslink">
		select * from friendslink where is_show = #{isShow} order by create_time desc 
	</select>
	
	<!-- 添加友人链 -->
	<insert id="save" parameterType="friendslink">
		insert into friendslink (website_url,website_name,website_description,picture_url,is_show,priority,groups,create_time,update_time,view_count)
			             values (#{websiteUrl},#{websiteName},#{websiteDescription},#{pictureUrl},#{isShow},#{priority},#{groups},#{createTime},#{updateTime},#{viewCount})
	</insert>
	
	<!-- 更新友人链访问次数 -->
	<update id="viewFriendslinkById" parameterType="int">
		update friendslink set view_count = view_count + 1 where id = #{id} 
	</update>
	
	<!-- 通过id设置友人链为展示状态 -->
	<update id="showById" parameterType="int">
		update friendslink set is_show = true,update_time = now() where id = #{id}
	</update>

	<!-- 通过id设置友人链为不展示状态 -->
	<update id="hideById" parameterType="int">
		update friendslink set is_show = false,update_time = now() where id = #{id}
	</update>
	
	<!-- 通过id删除友人链 -->
	<delete id="deleteById" parameterType="int">
		delete from friendslink where id = #{id}
	</delete>

</mapper>