<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.article.mapper.OnewordMapper">
	
	<!-- 统计展示的每日一句 -->
	<select id="countShow" resultType="int">
		select count(*) from oneword where is_deleted is not true and is_published is not false
	</select>
	
	<!-- 列出指定数量的每日语一句 -->
	<select id="listBysize" parameterType="int" resultType="oneword">
		select * from oneword 
		where is_deleted is not true and is_published is not false 
		order by update_time desc 
		limit #{size}
	</select>
	
	<!-- 列出所有的每日一句 -->
	<select id="list" resultType="oneword">
		select * from oneword 
		where is_deleted is not true
		order by update_time desc
	</select>
	
	<!-- 通过id查找每日一句 -->
	<select id="findById" parameterType="long" resultType="oneword">
		select * from oneword where id = #{id} and is_deleted is not true
	</select>
	
	<!-- 保存每日一句 -->
	<insert id="save" parameterType="oneword">
		insert into oneword (picture,content,create_time,update_time) 
		             values (#{picture},#{content},#{createTime},#{updateTime})
	</insert>
	
	<!-- 通过id更新每日一句 -->
	<update id="update" parameterType="oneword">
		update oneword set picture=#{picture},content=#{content},update_time=#{updateTime}
		where id=#{id}
	</update>
	
	<!-- 通过id删除每日一句 -->
	<update id="delete" parameterType="long">
		update oneword set is_deleted = true where id = #{id}
	</update>
</mapper>