<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.blog.mapper.TagMapper">
	
	<!-- 列出所有类型 -->
	<select id="list" resultType="tag">
		select * from tag order by update_time desc
	</select>
	
	<!-- 通过名字找标签 -->
	<select id="findByName" parameterType="string" resultType="tag">
		select * from tag where name = #{name}
	</select>
	
	<!-- 通过id获取标签 -->
	<select id="findById" parameterType="long" resultType="tag">
		select * from tag where id = #{id}
	</select>
	
	<!-- 通过博客id查找对应的标签id -->
	<select id="listByBlogId" parameterType="long" resultType="tag">
		select * from tag t 
		inner join blog_tag bt on t.id=bt.tag_id
		inner join blog b on bt.blog_id=b.id
		where b.id=#{blogId}
	</select>
	
	<!-- 获取博客首页的标签  -->
	<select id="listTopTag" parameterType="int" resultType="com.blog.dto.TagBlogNumDTO">
		select t.id,t.name,count(t.id) blogNum from tag t
		inner join blog_tag bt on t.id = bt.tag_id
		inner join blog b on bt.blog_id=b.id
		group by t.id
		order by blogNum desc limit #{topTagNum}
	</select>
	
    <!-- 保存标签 -->
	<insert id="save" parameterType="tag">
		insert into tag (name,create_time,update_time) values (#{name},#{createTime},#{updateTime})
	</insert>
	
    <!-- 向blog_tag中间表插入数据 -->
	<insert id="saveBlogAndTag" parameterType="long">
		insert into blog_tag (blog_id,tag_id) values (#{blogId},#{tagId})
	</insert>
	
	<!-- 通过blog_id删除blog_tag中间表的数据 -->
	<delete id="deleteByBlogId" parameterType="long">
		delete from blog_tag where blog_id = #{blogId}
	</delete>
	
	<!-- 通过id删除标签 -->
	<delete id="deleteById" parameterType="long">
		delete from tag where id = #{id}
	</delete>
	
	<!-- 通过标签id删除blog_tag中间表 -->
	<delete id="deleteByTagId" parameterType="long">
		delete from blog_tag where tag_id = #{id}
	</delete>
	
	<!-- 更新标签 -->
	<update id="update" parameterType="tag">
		update tag set name = #{name},update_time = #{updateTime} where id = #{id}
	</update>
	

</mapper>