<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.blog.mapper.ToolMapper">

	<!-- 统计工具数量 -->
	<select id="count" resultType="int">
		select count(*) from tool
	</select>

	<!-- 列出所有的工具 -->
	<select id="list" resultType="tool">
		select * from tool order by update_time desc
	</select>
	
	<!-- 通过名称查找工具 -->
	<select id="findByName" parameterType="string" resultType="tool">
		select * from tool where name = #{name}
	</select>

	<!-- 通过id查找工具 -->
	<select id="findById" parameterType="int" resultType="tool">
		select * from tool where id = #{id}
	</select>
	
	<!-- 通过链接查找工具 -->
	<select id="findByUrl" parameterType="string" resultType="tool">
		select * from tool where url = #{url}
	</select>
	
	<!-- 保存工具 -->
	<insert id="save" parameterType="tool">
		insert into tool (name,url,create_time,update_time)
		          values (#{name},#{url},#{createTime},#{updateTime})
	</insert>
	
	<!-- 更新工具 -->
	<update id="update" parameterType="tool">
		update tool set name=#{name},url=#{url},update_time=#{updateTime} where id = #{id}
	</update>
	
	<!-- 通过id删除工具 -->
	<update id="deleteById" parameterType="int">
		delete from tool where id = #{id}
	</update>

</mapper>