<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.blog.mapper.TypeMapper">
	
	<!-- 统计分类的数量 -->
	<select id="countAll" resultType="int">
		select count(*) from type
	</select>
	
	<!-- 统计有博客的分类总数 -->
	<select id="count" resultType="long">
		SELECT count(*) FROM type t
		WHERE t.id in
		(SELECT b.type_id from blog b
		where b.is_deleted IS NOT TRUE AND b.is_published IS NOT FALSE)
	</select>
	
	<!-- 列出所有类型 -->
	<select id="list" resultType="type">
		select * from type order by update_time desc
	</select>
	
	<!-- 通过名字查找分类 -->
	<select id="findByName" parameterType="string" resultType="type">
		select * from type where name = #{name}
	</select>
	
	<!-- 通过id查找分类 -->
	<select id="findById" parameterType="long" resultType="type">
		select * from type where id = #{id}
	</select>
	
	<!-- 列出分类及对应的博客数量  -->
	<select id="listTypeShow" resultType="com.blog.dto.TypeBlogNumDTO">
		select t.id,t.name,count(t.id) blogNum from type t 
		inner join blog b on t.id = b.type_id where b.is_deleted is not true and b.is_published is not false
		group by t.id
		order by count(t.id) desc
	</select>
	
	<!-- 保存分类 -->
	<insert id="save" parameterType="type">
		insert into type (name,create_time,update_time) values (#{name},#{createTime},#{updateTime})
	</insert>
	
	<!-- 更新分类 -->
	<update id="update" parameterType="type">
		update type set name = #{name},update_time = #{updateTime} where id = #{id}
	</update>
	
	<!-- 通过id删除分类 -->
	<update id="deleteById" parameterType="long">
		
	</update>
	

</mapper>